@charset "UTF-8";

form {
	margin-top: -20px;
	margin-bottom: 25px;
	margin-left: 57px;
	font-size: 28px;
}

p.error {
	margin-left:480px;
}

p.text {
    /* font-size: 25px; */
	margin-left: 55px;
}

h1 {
	margin-left: 133px;
	margin-bottom: 30px;
}

input {
	margin-top:30px;
	font-size:28px;
}

input:last-child {
	text-align: center;
    color:white;
    background:cyan;/*背景色*/
}

input.hoge {
	width:315px;
    color:white;
    background:red;/*背景色*/
    margin-bottom: 40px;
}

/* a {
	font-size:20px;
	margin-left:140px;
} */


/* a:last-child{
	margin-left: 185px;
} */

.box3 {
    background-color:lightgrey;
    margin-left: 450px;
    margin-right:400px;
    margin-top: 105px;
}


