{% extends "admin_layout.html" %}

{% block content %}
    <form action="{{url_for('admin_search_goods_exe')}}" method="post">
        <input type="text" name="name" placeholder="商品名を入力してください">
        <input type="submit" value="検索">
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>商品名</th>
                <th>詳細</th>
                <th>価格</th>
                <th>在庫</th>
            </tr>
        </thead>
        <tbody>
            {% for good in goods %}
            <tr>
                <td>{{ good[0] }}</td>
                <td>{{ good[1] }}</td>
                <td>{{ good[2] }}</td>
                <td>{{ good[3] }}</td>
                <td>{{ good[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
   