{% extends "admin_layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/goods_register.css')}}">
{% endblock %}

{% block content %}
    <div class="box3">
    <h1 class="title">商品登録</h1>
    {% if error != null %}
        <p style="color: red;" class="error">{{ error }}</p>
    {% endif %}
    <form action="{{url_for('goods_register_exe')}}" method="post">
        <input type="text" name="goods_name" placeholder="商品名"><br>
        <input type="text" name="detail" placeholder="詳細"><br>
        <input type="text" name="price" placeholder="価格"><br>
        <input type="text" name="stock" placeholder="在庫"><br>
        <input type="submit" value="登録" class="hoge"></button>
    </form>
    </div>
{% endblock %}
