<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント登録</title>
</head>
<body>
    <h3>アカウント登録画面</h3>
    {% if error != null %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form action="/account/register" method="post">
        <p>ユーザー名：<input type="text" name="username" value="{{ username }}"></p>
        <p>メールアドレス：<input type="text" name="email" value="{{ email }}"></p>
        <p>住所：<input type="text" name="address" value="{{ address }}"></p>
        <p>パスワード：<input type="password" name="password"></p>
        <p>パスワード（確認）：<input type="password" name="password_confirm"></p>
        <p><input type="submit" value="登録"></p>
</body>
</html>