<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='favicon/favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/register.css')}}">
    <title>アカウント登録</title>
</head>
<body>
    <div class="box3">
    <h1>アカウント登録</h1>
    {% if error != null %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form action="{{url_for('register_exe')}}" method="post">
        <input type="text" name="user_name" placeholder="ユーザー名"><br>
        <input type="text" name="email" placeholder="メールアドレス"><br>
        <input type="text" name="address" placeholder="住所"><br>
        <input type="password" name="password" placeholder="パスワード"><br>
        <input type="submit" value="SIGN-UP" class="hoge"></input>
    </form>
    <a href="{{url_for('top')}}" style="text-decoration:none;">戻る</a>
    </div>
</body>
</html>