{% extends "admin_layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/update_goods.css')}}">
{% endblock %}



{% block content %}
    <div class="box3">
    {% if error != null%}
        <p style="color:red;">{{error}}</p>
    {% endif %}
    {% if msg != null%}
        <p style="color:blue;">{{msg}}</p>
    {% endif %}
    <h1>商品編集</h1>
    <form action="{{url_for('update_goods_exe')}}" method="post">
        <p class="text">変更したい商品のIDを入力してください</p><br>
        <input type="text" name="id" placeholder="商品ID"><br>
        <p class="text2">変更内容を入力してください</p><br>
        <input type="text" name="name" placeholder="商品名"><br>
        <input type="text" name="detail" placeholder="詳細"><br>
        <input type="text" name="price" placeholder="価格"><br>
        <input type="text" name="stock" placeholder="在庫"><br>
        <input type="submit" value="変更" class="hoge"></input>
    </form>
    </div>
{% endblock %}